@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.monday {
  background-color: lightgreen;
}

.otherDays {
  background-color: gray;
  pointer-events: none; /* Makes the tile unclickable */
}